@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../.flowbite-react/class-list.json';

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* background-color: rgb(249 250 251); */
  background-color: #ffffff;
  /* background-color: #fffefc; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  /* Dark mode styles */
  background-color: rgb(
    38 38 38 / var(--tw-bg-opacity, 1)
  ); /* Dark mode background */
}
